/*
 *	CSS for FormBuilder.php
 *	FormBuilder is using Grid 960 CSS Framework for lay out forms.
 * 	
*/
.form_container {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}
.form_container .grid_1 {
	width: 60px;
}

.form_container .grid_2 {
	width: 140px;
}


.form_container .grid_3 {
	width: 220px;
}

.form_container .grid_4 {
	width: 300px;
}

.form_container .grid_5 {
	width: 370px;
}

.form_container .grid_6 {
	width: 440px;
}

.form_container .grid_7 {
	width: 520px;
}

.form_container .grid_8 {
	width: 600px;
}

.form_container .grid_9 {
	width: 680px;
}

.form_container .grid_10 {
	width: 760px;
}

.form_container .grid_11 {
	width: 840px;
}

.form_container .grid_12 {
	width: 940px;
}

.form_container .label {
	text-align:right;
	float: right;
}

.form_container .labelValue {
	text-align:left;
	font-weight: bold;
}

.form_container input {
	border:1px solid #666666;
	padding:5px 0px 5px 0px;
	margin-bottom:2px;
	font:bold 16px inherit;
}

.form_container .input,
.form_container .biginput,
.form_container .smallinput,
.form_container .button,
.form_container .select,
.form_container .textarea {
	border-color:#666666; 
	color:#666666;
}

.form_container .selected_input,
.form_container .selected_biginput,
.form_container .selected_smallinput,
.form_container .selected_button,
.form_container .selected_select,
.form_container .selected_textarea {
	border-color: #006699;
	background:#E4F5FA;
}

.form_container .error_input,
.form_container .error_biginput,
.form_container .error_smallinput,
.form_container .error_select,
.form_container .error_textarea {
	border-color: #cc0000;
	background:#FFF0F0;
}

.form_container .input,
.form_container .selected_input,
.form_container .error_input {
	width: 180px;
}

.form_container .biginput,
.form_container .selected_biginput,
.form_container .error_biginput {
	width: 500px;
}

.form_container .smallinput,
.form_container .selected_smallinput,
.form_container .error_smallinput {
	width: 85px;
}

.form_container .button,
.form_container .selected_button,
.form_container .error_button {
	width: 85px;
}

.form_container .select,
.form_container .selected_select,
.form_container .error_select {
	width: 180px;
	height: 30px;
	top: 5px;
}

.form_container .textarea,
.form_container .selected_textarea,
.form_container .error_textarea {
}

.form_container .checkbox {
	margin: 0px;
	border: none;
}

.form_container .redio {
	margin: 0px;
	border: none;
}

.form_container h3 {
	padding-top: 30px;
	padding-left: 20px;
}

.form_container hr {
	float:left;
	width: 940px;
	margin-top: 0px;
}

.ulError {
	margin:0;
	padding:5px;
	width:470px;
	background:#FFF0F0;
	border:1px solid #cc0000;
	color:#cc0000;
}

.ulInfo {
	margin:0;
	padding:10px 25px 10px 25px;
	width:470px;
	background:#F0FFF0;
	border:1px solid #00cc00;
	color:#00bb00;
}

.required {
	color:red;
	font-weight: bold;
	font-size: 16px;
}